/* ウェブフォント */
@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400&family=IBM+Plex+Sans+JP:wght@400;700&display=swap");

/* general */
:root {
  --title-fontsize: 40px;
  --main-fontsize: 20px;
  --hr-color: #333333;
  --bg-color: #111111;
  --text-color: #00ee00;
}

* {
  font-family: "Courier Prime", "IBM Plex Sans JP", monospace, sans-serif;
  font-weight: 400;
  font-size: var(--main-fontsize);
  color: var(--text-color);
}

strong {
  font-weight: 700;
}

p {
  line-height: calc(var(--main-fontsize) * 1.5);
  font-size: var(--main-fontsize);
  margin: auto;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  top: 0;
  background-color: var(--bg-color);
  filter: blur(0.3px);
}

/* グリッドレイアウト */
.container {
  display: grid;
  grid-template-areas:
    "header header header"
    "sidebar-left main-content sidebar-right"
    "footer footer footer";
  grid-template-rows: 160px auto 10px;
  grid-template-columns: 200px auto 200px;
  grid-gap: 40px;
  min-height: 100vh;
  position: relative;
}

header {
  grid-area: header;
  text-align: center;
  margin-top: 40px;
  position: relative;
}

.sidebar-left {
  grid-area: sidebar-left;
  padding-left: 40px;
  position: sticky;
  width: auto;
  height: fit-content;
  top: 0;
  align-self: start;
}

main {
  grid-area: main-content;
  position: relative;
}

.sidebar-right {
  grid-area: sidebar-right;
  position: sticky;
  padding-right: 40px;
}

footer {
  grid-area: footer;
  top: 100vh;
  width: 100%;
  position: sticky;
  z-index: 2;
  background-color: var(--text-color);
  box-shadow: 0 0 5px #00ff00;
}

/* common */
/* ネオン感 */
.neon {
  color: #00ff00;
  text-shadow: 0 0 5px #00ff00, 0 0 10px #00ff00, 0 0 20px #00ff00;
  filter: blur(0.2px);
}

@keyframes neon-flicker {
  0% {
    text-shadow: 0 0 5px #00ff00, 0 0 10px #00ff00, 0 0 20px #00ff00;
  }
  50% {
    text-shadow: 0 0 5px #00ff00, 0 0 15px #00ff00, 0 0 30px #00ff00;
  }
  100% {
    text-shadow: 0 0 5px #00ff00, 0 0 10px #00ff00, 0 0 20px #00ff00;
  }
}

/* parts */
/* ヘッダー */
header a {
  text-decoration: none;
}

#header-nav {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

#header-nav a {
  padding: 10px;
}

#header-nav li {
  display: inline-block;
}

#site-title {
  margin: auto;
  text-align: center;
  font-size: var(--title-fontsize);
}

/* フッター */
#footer-info {
  text-align: left;
  font-size: calc(var(--main-fontsize) / 2);
  color: var(--bg-color);
}

/*　サイドバー */
.sidebar-left a {
  text-decoration: none;
  line-height: calc(var(--main-fontsize) * 1.5);
}

.sidebar-right a {
  font-size: var(--main-fontsize);
  padding-left: var(--main-fontsize);
  text-decoration: none;
}

.sidebar-left .sidebar-section-title {
  font-size: var(--main-fontsize);
  border-bottom: 2px solid var(--hr-color);
  margin-left: -20px;
  padding-top: 8px;
}

.sidebar-right .sidebar-section-title {
  font-size: var(--main-fontsize);
  border-bottom: 2px solid var(--hr-color);
  padding-top: 8px;
}

.sidebar-links {
  padding-top: 8px;
  line-height: 30px;
}

/* main */
main a {
  text-decoration: underline;
  color: #00ff00;
  text-shadow: 0 0 5px #00ff00, 0 0 10px #00ff00, 0 0 20px #00ff00;
  filter: blur(0.2px);
}

main p {
  padding-left: var(--main-fontsize);
}

/* h要素 */

h1 {
  text-align: center;
  font-size: var(--title-fontsize);
  margin-top: 0px;
  margin-bottom: 40px;
  font-weight: 700;
}

h2 {
  font-size: var(--main-fontsize);
  border-bottom: 2px solid var(--hr-color);
  margin-top: 20px;
  margin-bottom: 10px;
}

/* テーブル */

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

main ul {
  list-style: square;
  margin-left: var(--main-fontsize);
  padding: 0;
}

main ul li {
  height: calc(var(--main-fontsize) * 1.5);
  padding-left: 0;
}

table {
  margin: auto;
  word-break: break-all;
  table-layout: fixed;
}

td {
  vertical-align: top;
}

/* スマートフォン対応 */
@media (max-width: 768px) {
  /* 左サイドバーを削除、右サイドバーをmain-content下へ */
  .container {
    grid-template-areas:
      "header"
      "main-content"
      "footer";
    grid-template-rows: 160px auto 10px;
    grid-template-columns: 1fr;
  }

  .sidebar-left,
  .sidebar-right {
    display: none !important;
  }

  header {
    margin-top: 20px;
  }

  main {
    padding-left: 20px;
    padding-right: 20px;
  }
}
