{% assign works_sorted = include.works | sort: "date" %}
{% assign scripts = works_sorted | where: "type", include.work_type %}

{% if scripts.size > 0 %}
  <ul>
    {% for work in scripts %}
      <li class="work" id="{{ work.id }}">
        <div class="work_date">
        {% if work.date.size %}
          {{ work.date | date: "%Y/%m/%d" }}
        {% else %}
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        {% endif %}
        </div>
        <br class="mobile_only"/>
        <div class="work_title">
        {% if work.link %}
          <div class="work_title_original"><a href="{{ work.link }}">{{ work.title }}</a><br /></div>
          <div class="work_title_translated en_only"><a href="{{ work.link }}">{{ work.translatedTitle }}</a><br /></div>
          <div class="work_title_translated ja_only opposite">{{ work.translatedTitle }}<br /></div>
        {% else %}
          <div class="work_title_original">{{ work.title }}<br /></div>
          <div class="work_title_translated en_only">{{ work.translatedTitle }}<br /></div>
          <div class="work_title_translated ja_only opposite">{{ work.translatedTitle }}<br /></div>
        {% endif %}
          <div class="work_title_romanized opposite">{{ work.romanizedTitle }}</div>
        </div>
        {% if work.firstAppearance %}
          {% if work.firstAppearanceLinkOrId %}
            {% if work.firstAppearanceEn %}
              <div class="work_first_appearance ja_only">
                <a href="{{ work.firstAppearanceLinkOrId }}">{{ work.firstAppearance }}</a>
              </div>
              <div class="work_first_appearance en_only">
                <a href="{{ work.firstAppearanceLinkOrId }}">{{ work.firstAppearanceEn }}</a>
              </div>
                {% else %}
              <div class="work_first_appearance">
                <a href="{{ work.firstAppearanceLinkOrId }}">{{ work.firstAppearance }}</a>
              </div>
            {% endif %}
          {% else %}
            {% if work.firstAppearanceEn %}
              <div class="work_first_appearance ja_only">
                {{ work.firstAppearance }}
              </div>
              <div class="work_first_appearance en_only">
                {{ work.firstAppearanceEn }}
              </div>
                {% else %}
              <div class="work_first_appearance">
                {{ work.firstAppearance }}
              </div>
            {% endif %}
          {% endif %}
        {% else %}
          <br class="work_first_appearance"/>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
{% else %}
  <p>None.</p>
{% endif %}
