html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  color: $text-color;
  background-color: $bg-color;
}

#lang-container {
  display: grid;
  grid-template-areas:
    "title title"
    "english japanese";
  grid-template-rows: 440px auto;
  grid-template-columns: auto auto;
  grid-gap: 0px;
  height: 100vh;
  width: 100vw;
  place-items: center;
  align-content: space-evenly;
  a {
    text-decoration: none;
  }
}

#main-title {
  grid-area: title;
  margin: 0;
  padding-top: 40px;
  padding-left: 100px;
  padding-right: 100px;
  font-size: 120px;
  filter: blur(1px);
  &:hover {
    filter: blur(0.4px);
  }
}

#english,
#japanese {
  font-size: 100px;
  height: 100px;
  margin: 0;
  padding: 0;
}

#english {
  grid-area: english;
  margin-left: auto;
  margin-right: 60px;
}

#japanese {
  grid-area: japanese;
  margin-left: 60px;
  margin-right: auto;
}

.lang-choice {
  border: 1px solid $text-color;
  width: 200px;
  font-size: 40px;
  height: 100px;
  line-height: 20px;
  filter: blur(1px);
  &:hover {
    filter: blur(0.4px);
    background-color: $text-color;
    .en,
    .ja {
      color: $bg-color;
    }
  }
}

// 縦が狭い場合
@media (max-height: 650px) {
  #main-title {
    display: none;
  }
  
  #lang-container {
    display: grid;
    grid-template-areas: "english japanese";
    grid-template-rows: auto;
    grid-template-columns: auto auto;
    place-items: center;
  }
}

// モバイル
@media (max-width: 768px) {
  #main-title {
    display: none;
  }
  #lang-container {
    display: grid;
    grid-template-areas: "english" "japanese";
    grid-template-rows: 50vh 50vh;
    grid-template-columns: auto;
    place-items: center;
    align-content: space-evenly;
  }
  #english,
  #japanese {
    margin: auto;
  }
}
