<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{page.title}} | ASAI Hitoshi</title>
    <meta name="author" content="ASAI Hitoshi" />
    <meta name="author" content="麻井均" />
    <link rel="stylesheet" href="/css/default.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>

  <body>
    <div class="container">
      <!-- ヘッダー -->
      <header>
        <!-- サイトメインタイトル -->
        <div class="i18n">
          <a href="/en/" id="site-title" class="title neon">
            ASAI Hitoshi's Website
          </a>
          <!-- モバイル：タイトル -->
          <a href="/en/" id="site-title-mobile" class="title neon mobile-only">
            ASAI<br />
            Hitoshi's<br />
            Website
          </a>
        </div>
        <!-- ヘッダーナビゲーション -->
        <div id="header-nav" class="neon i18n">
          {% include page-list.html %}
        </div>
      </header>
      <!-- 左サイドバー -->
      <div class="sidebar sidebar-left">
        <!-- サイドバーナビゲーション -->
        <p class="sidebar-section-title">Menu</p>
        <div class="i18n">{% include page-list.html %}</div>
      </div>
      <!-- メインコンテンツ -->
      <main>{{content}}</main>
      <!-- 右サイドバー -->
      <div class="sidebar sidebar-right">
        <!-- 言語ボタン -->
        {% include lang-switch.html %}
        <!-- SNSリンク -->
        <p class="sidebar-section-title">Links</p>
        <div class="sidebar-links">{% include links.html %}</div>
      </div>
      <!-- フッター -->
      <footer>
        <div id="footer-info">(c)2025 ASAI Hitoshi</div>
      </footer>
    </div>

    <!-- include mobile.html（ハンバーガーメニュー） -->
    {% include mobile.html %}

    <!-- JS読み込み -->
    <script src="/javascript/lang-switch.js"></script>
    <script src="/javascript/sidebar-toggle.js"></script>
  </body>
</html>
