<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{page.title}} | ASAI Hitoshi</title>
    <meta name="author" content="ASAI Hitoshi" />
    <meta name="author" content="麻井均" />
    <link rel="stylesheet" href="/css/default.css" />
  </head>

  <body>
    <div class="container">
      <!-- ヘッダー -->
      <header>
        <a href="/en/" id="site-title" class="neon">ASAI Hitoshi's Website</a>
        <div id="header-nav" class="neon">{% include page-list-en.html %}</div>
      </header>
      <!-- 左サイドバー -->
      <div class="sidebar-left">
        <p class="sidebar-section-title">Menu</p>
        <div>{% include page-list-en.html %}</div>
      </div>
      <!-- メインコンテンツ -->
      <main>{{content}}</main>
      <!-- 右サイドバー -->
      <div class="sidebar-right">
        <p class="sidebar-section-title">Links</p>
        <div class="sidebar-links">{% include links.html %}</div>
      </div>
      <!-- フッター -->
      <footer>
        <div id="footer-info">(c)2025 ASAI Hitoshi</div>
      </footer>
    </div>
  </body>
</html>
